<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
  <div
    class="relative rounded-lg shadow-md overflow-hidden card-hover p-6"
    *ngFor="let podcasts of episodes"
  >
    <!-- Background image with opacity -->
    <div
      class="absolute inset-0 bg-cover bg-center opacity-40"
      [ngStyle]="{
        'background-image':
          'url(' + imageURL + '/' + podcasts.episode_image + ')'
      }"
    ></div>

    <!-- Content on top -->
    <div class="relative z-10 flex flex-col h-full">
      <div class="flex items-center mb-4">
        <div
          class="w-12 h-12 bg-yellow-500 rounded-full flex items-center justify-center text-black font-bold"
        >
          # {{ podcasts.episode_no }}
        </div>
        <div class="ml-4">
          <h3 class="font-semibold text-gray-800">&nbsp;</h3>
          <p class="text-sm text-gray-500">&nbsp;</p>
        </div>
      </div>
      <p class="text-gray-600 mb-4">&nbsp;</p>
      <div class="flex gap-2">
        <a
          *ngIf="podcasts.episode_youtube_link"
          class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-full text-sm transition duration-300"
        >
          Youtube
        </a>
        <a
          *ngIf="podcasts.episode_spotify_link"
          class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-full text-sm transition duration-300"
        >
          Spotify
        </a>
      </div>
    </div>
  </div>
</div>
