<!-- Subscribe Start -->
<p-toast />
<div class="container-fluid subscribe py-5">
  <div class="container text-center py-5">
    <div class="mx-auto text-center" style="max-width: 900px">
      <h1 class="text-white mb-4">Subscribe to Our Newsletter</h1>

      <div class="position-relative mx-auto">
        <a
          [href]="googleFormLink"
          class="btn btn-danger rounded-pill"
          target="_blank"
          style="width: 300px"
        >
          Subscribe
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Subscribe End -->
