<div class="container-xxl position-relative bg-white d-flex p-0">
  <app-sidebar></app-sidebar>

  <!-- Content Start -->
  <div class="content">
    <app-top></app-top>

    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
      <div class="row g-4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
          <div class="float-start">
            <h4>Edit Slider</h4>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-lg-12">
          <form [formGroup]="editSliderForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="field">
                  <label for="slider_image" class="label-field"
                    >Slider Image</label
                  >
                  <span class="error"> * {{ sliderImageErr }} </span><br />
                  <div>
                    <img
                      [src]="editImage"
                      style="margin-bottom: 10px; width: 150px; height: 100px"
                      id="edit-image"
                    />
                  </div>

                  <input
                    type="file"
                    tabindex="1"
                    accept="image/*"
                    id="edit_upload_image"
                    class="form-control"
                    (change)="uploadImage($event)"
                  />
                </div>

                <div class="field">
                  <label for="slider_header_text" class="label-field"
                    >Slider Header Text</label
                  >
                  <span class="error"> {{ sliderHeaderTextErr }} </span>
                  <input
                    type="text"
                    tabindex="2"
                    placeholder="Slider Header Text"
                    class="form-control"
                    formControlName="slider_header_text"
                  />
                </div>
                <div class="field">
                  <label for="slider_para_text" class="label-field"
                    >Slider Para Text</label
                  >
                  <span class="error"> {{ sliderParaTextErr }} </span>
                  <input
                    type="text"
                    tabindex="3"
                    placeholder="Slider Para Text"
                    class="form-control"
                    formControlName="slider_para_text"
                  />
                </div>
                <div class="field">
                  <label for="slider_button_text" class="label-field"
                    >Slider Button Text</label
                  >
                  <span class="error"> {{ sliderButtonTextErr }} </span>
                  <input
                    type="text"
                    tabindex="4"
                    placeholder="Slider Button Text"
                    class="form-control"
                    formControlName="slider_button_text"
                  />
                </div>
                <div class="field">
                  <label for="slider_button_url" class="label-field"
                    >Slider Button URL</label
                  >
                  <span class="error"> {{ sliderButtonURLErr }} </span>
                  <input
                    type="text"
                    tabindex="5"
                    placeholder="Slider Button URL"
                    class="form-control"
                    formControlName="slider_button_url"
                  />
                </div>
                <div class="field">
                  <label for="is_active" class="label-field" tabindex="6"
                    >Active</label
                  >
                  <span class="error"> </span>
                  <select class="form-control" formControlName="is_active">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="saveload">
              <button
                type="submit"
                tabindex="7"
                class="btn btn-primary"
                (click)="editSliders()"
              >
                Save
              </button>
              <label
                class="alert-success"
                style="font-weight: bold; padding: 8px; margin-left: 15px"
                *ngIf="message"
              >
                {{ message }}</label
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Sale & Revenue End -->

    <app-footer></app-footer>
  </div>
  <!-- Content End -->
</div>
