<div class="container-xxl position-relative bg-white d-flex p-0">
  <app-sidebar></app-sidebar>

  <!-- Content Start -->
  <div class="content">
    <app-top></app-top>

    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
      <div class="row g-4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
          <div class="float-start">
            <h4>Add Genre</h4>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-lg-12">
          <form [formGroup]="addGenreForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="field">
                  <label for="genre_name" class="label-field">Genre name</label>
                  <span class="error"> * {{ genreNameErr }} </span>
                  <input
                    type="text"
                    tabindex="1"
                    placeholder="Genre name"
                    class="form-control"
                    formControlName="genre_name"
                    (keyup)="getGenreSlug($event)"
                  />
                </div>

                <div class="field">
                  <label for="genre_slug" class="label-field">Genre slug</label>
                  <span class="error"> * {{ genreSlugErr }} </span>
                  <input
                    type="text"
                    tabindex="2"
                    placeholder="Genre slug"
                    class="form-control"
                    formControlName="genre_slug"
                    [(ngModel)]="genreSlug"
                  />
                </div>
                <div class="field">
                  <label for="is_popular" class="label-field">Popular</label>
                  <span class="error"> *</span>
                  <select
                    class="form-control"
                    formControlName="is_popular"
                    tabindex="3"
                  >
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
                <div class="field">
                  <label for="genre_image" class="label-field"
                    >Genre Image</label
                  >
                  <span class="error"> * {{ genreImageErr }} </span><br />
                  <div *ngIf="addGenreImgView; else bla">
                    <img
                      [src]="addImage"
                      style="margin-bottom: 10px; width: 150px; height: 100px"
                      id="add-image"
                    />
                  </div>
                  <ng-template #bla>
                    <img
                      [src]=""
                      style="margin-bottom: 10px; width: 150px; height: 100px"
                      id="add-image"
                    />
                  </ng-template>
                  <input
                    type="file"
                    tabindex="4"
                    accept="image/*"
                    id="add_upload_image"
                    class="form-control"
                    (change)="uploadImage($event)"
                  />
                </div>
              </div>
            </div>

            <div class="saveload">
              <button
                type="submit"
                tabindex="5"
                class="btn btn-primary"
                (click)="addGenres()"
              >
                Save
              </button>
              <label
                class="alert-success"
                style="font-weight: bold; padding: 8px; margin-left: 15px"
                *ngIf="message"
              >
                {{ message }}</label
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Sale & Revenue End -->

    <app-footer></app-footer>
  </div>
  <!-- Content End -->
</div>
